:root {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  color: #222;
  background-color: #ddd6eb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #ddd6eb;
}
